<h1>Numbers to Words</h1>

<form action='/numberstowords' method='get'>
    <div class="form-group">
        <label for="getnumber">Insert a number</label>
        <input id="getnumber" name="getnumber" class="form-control" type="text">
    </div>

    <button type="submit" class="btn btn-info">Transform into words!</button>
</form>
